body{
    margin: 0px;
    padding: 0px;
}

#firstslide,#secondslide,#thirdslide,#forthslide, #fifthslide{
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: "Special Elite";
    line-height: 100vh;
}

#firstslide {
    background-color: #999999;
}

#secondslide{
    background-color: #cccccc;         
}

#thirdslide{
    background-color: #666666;
}

#forthslide{
    background-color: #333333;
}

#fifthslide {
    background-color: #888888;
}

#menu{
    position: fixed;
    top:2%;
    width: 100%;
}

#lefttopmenu{
    height: 50px;
    width: 35%;
    background-color: #71989f;
    border-radius: 0px 120px 0px 0;
    float: left;
}
            
#righttopmenu{
    height: 50px;
    width: 35%;
    background-color: #71989f;
    border-radius: 220px 0px 0px 20px;
    float: right;
}
            
#midbotmenu{
    height: 50px;
    margin-top: 45%;
    margin-left: 45%;
    width: 10%;
}
            
div {
   color: white;
}

a{
    text-align: center;
    font-size:9vw;
    color:white;
    text-decoration: none;
    margin-left: 20%;
    
}

#particles-js
{
    height: 100%;
    width: 100%;
    background-color: #000000;
    height: 100vh;
}


#logo{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: #222;
                float: left;
                margin-top: -30px;
                margin-left: 80px;
                font-family: arial black;
                font-size: 20px;
                line-height: 100px;
                text-align: center;
            }

#textbubble{
    font-size: 30px !important;
    text-align: center;
    margin-left: 0px;
}

#main