h2, p {
	margin: 0;
	padding: 0;
    text-align: justify;
}

h2 {
    text-align: center !important;
    padding-bottom: 6px;
}

p {
	margin: 0 0 1em 0;
	line-height: 1.5em;
}

body {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;

}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

/* Section Inner */
div.section-inner {
	max-width: 1100px;
	padding: 0 25px;
	margin: 0 auto;
}

/* Header */
div.header {
	background-color: #E9E9E9;
	padding: 40px 0;
}

/* Navigation */
.nav {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
}

.nlist {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nItem {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
}

/* Body Content */
div.body-content {
	padding: 50px 0;
	background-color: #FFF;
}

/* Thirds */
div.thirds {
	padding-bottom: 50px;
}

div.one-third {
	width: 30%;
	float: left;
	margin-right: 5%;
}

div.one-third-last {
	margin: 0;
}

/* Main Column */
div.main {
	float: left;
}

/* svg animation */

.svgmoon {
    transition: all 1.5s;
}

svg:hover .svgmoon {
    fill: gold;
    transform: scale(.9);
}

svg:hover .svgstar1,
svg:hover .svgstar2,
svg:hover .svgstar3,
svg:hover .svgstar4,
svg:hover .svgstar5 {
    fill: yellow;
    transform:rotate(30deg);
    transition: transform 1.5s;
}