h2, p {
	margin: 0;
	padding: 0;
    text-align: justify;
}

h2 {
    text-align: center !important;
    padding-top: 10px;
    padding-bottom: 6px;
}

p {
	margin: 0 0 1em 0;
	line-height: 1.5em;
    text-align: center;
}

body {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
    background-color: lightsteelblue;
}


img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

/* Section Inner */
div.section-inner {
	max-width: 1100px;
	padding: 0 25px;
	margin: 0 auto;
}

/* Header */
div.header {
	background-color: #E9E9E9;
	padding: 40px 0;
}

div.header2 {
    background-color: #776f6f;
    padding: 40px 0;
}

/* Navigation */
.nav {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
}

.nlist {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nItem {
  box-sizing: border-box;
  display: block;
  text-align: center;
  line-height: 24px;
  padding: 24px;
}

/* Body Content */
div.body-content {
	padding: 50px 0;
	background-color: #FFF;
}

/* Thirds */
div.thirds {
	padding-bottom: 50px;
}

div.one-third {
	width: 30%;
	float: left;
	margin-right: 5%;
}

div.one-third-last {
	margin: 0;
}

/* Main Column */
div.main {
	float: left;
}

/* svg animation */

.svgmoon {
    transition: all 1.5s;
}

svg:hover .svgmoon {
    fill: gold;
    transform: scale(.9);
}

svg:hover .svgstar1,
svg:hover .svgstar2,
svg:hover .svgstar3,
svg:hover .svgstar4,
svg:hover .svgstar5 {
    fill: yellow;
    transform:rotate(30deg);
    transition: transform 1.5s;
}

/* gallery thumbnail*/
.thumb:hover img {
    opacity: .6;
    transform: scale(.92);
}

.thumb img:hover {
    opacity: 1;
    transform: scale(1) rotate(2deg);
}

.thumb img {
    transition: all .3s ease-in-out;
    box-shadow: 0 0 7px rgba(0,0,0, .9);
}


/*dino*/
/*body*/
#Layer_1 {
    width: 50%;
    height: 50%;
    position: sticky;
    padding-top: 5%;
    margin-left: 25%;
}

/*head*/
#g265:hover {
    opacity: 1;
    transform: scale(1) rotate(1deg);
}



/*nose*/
svg:hover #path2398_2_ {
    fill: #e59e9e;
}
svg:hover #path2412_1_ {
    fill: #e59e9e;
}

/*horse hair*/
svg:hover .st1 {
    fill: gold;
}

svg:hover .st2 {
    fill: yellow;
}

svg:hover .st3 {
    fill: #425565;
}

svg:hover .st4 {
    fill: #5c768d;
}

svg:hover .st5 {
    fill: #66a4d9;
}

svg:hover .st6 {
    fill: blue;
}

/*moving horse*/
#Layer_2:hover {
    position: relative; 
    left: -100px;
}

/*text animation*/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes logo {
    from {background-color: deepskyblue;}
    to {background-color: whitesmoke;}
}

/* changing color header */
.header {
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Spinner */
#h1style {
    font-family: 'Pangolin', cursive;
    text-align: center;
    font-size: 56px;
}

#button1, #button2, #button3 {
    font-size: 16px;
    font-weight: bold;
    color:darkmagenta;
}

#button1:hover, #button2:hover, #button3:hover {
    box-shadow: 0 0 7px rgba(0,0,0, .9);
    opacity: .6;
    transform: scale(.92);
}

.house, .ping {
    width:20%;
}

.links{
    padding-left: 30%;
}

img.ping {
    padding-left: 10%;
}

img.house {
    padding-right: 10%;
}
