@media screen and (min-width: 1024px) {
            div#lefttopmenu{
                height: 130px !important;
                width: 30%;
                background-color: #71989f;
                border-radius: 0px 120px 0px 0;
                float: left;
            }
            
            div#righttopmenu{
                height: 130px !important;
                width: 30%;
                background-color: #71989f;
                border-radius: 220px 0px 0px 20px;
                float: right;
            }
            
             div#midbotmenu{
                height: 50px;
                margin-top: 40%;
                margin-left: 45%;
                width: 10%;
                background-color: #71989f;
            }
    
            div#logo {
                left: 2% !important;
                height: 100px !important;
                width: 150px !important;
                font-size: 20px !important;
                margin-left: auto !important;
            }

    div#midbotmenu{
        margin-top: 90vh !important;
    }
}


@media screen and (min-width: 768px) {
	
            div#lefttopmenu{
                height: 500px;
                width: 30%;
                background-color: #71989f;
                border-radius: 0px 120px 0px 0;
                float: left;
            }
            
            div#righttopmenu{
                height: 50px;
                width: 30%;
                background-color: #71989f;
                border-radius: 220px 0px 0px 20px;
                float: right;
            }
            
             div#midbotmenu{
                height: 500px;
                margin-top: 40%;
                margin-left: 45%;
                width: 10%;
                background-color: #71989f;
            }
    
    a{
        font-size: 66px !important;
    }
    
    div#midbotmenu{
        margin-top: 90vh !important;
    }
    
    
}
    
	
@media screen and (min-width: 425px) {
	
    div#menu {
                background-color: transparent;
                border-radius: 0px 0px 0px 0;
    }
	       div#lefttopmenu{
                height: 100px;
                width: 30%;
                background-color: #71989f;
                border-radius: 0px 120px 120px 0;
                padding-left: -30px;
                
            }
            
            div#righttopmenu{
                height: 100px;
                width: 30%;
                background-color: #71989f;
                border-radius: 220px 0px 0px 220px;
                float: right;
            }
            
             div#midbotmenu{
                height: 100px;
                margin-top: 45%;
                margin-left: 45%;
                width: 10%;
                background-color: #455544;
            } 
    
    div#logo {
        height: 70px;
        width: 70px;
        margin:0 auto;
        left: 3%;
        
    }
    
    div#midbotmenu{
        margin-top: 90vh !important;
    }
    
    
    #textbubble{
    font-size: 10px;
    text-align: center;
    margin-left: 0px;
}
    
    
        div#logo {
        height: 120px !important;
        width: 120px !important;
        margin-left: 35% !important;
        
    }
    
}

@media screen and (min-width: 250px) {
    
    #menu {
                height: 120px;
                background-color: #71989f;
                border-radius: 0px 0px 0px 0;
                float: none;
    }
    
    a, span {
        font-size: 30px;
    }


div#midbotmenu {
    float:none;
    background-color: transparent;
}
    
    div#logo{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin-top: -30px;
                margin-left: 44%;
                color:white;
                line-height: 80px;
                text-align: center;
                background: #a5c8de;
                position: absolute;
            }
    
    a#textbubble {
        font-size: 5px !important;
    }
    
    a.link:first-child {
        margin-left: 10px;
    }
    
    div#midbotmenu{
        margin-top: 90vh !important;
    }
    
    div#firstslide, div#secondslide, div#thirdslide, div#forthslide, div#fifthslide {
        font-size: 200%;
    }
    
    