div.one-third {
	width: 47.5%;
}

div.one-third-second {
	margin: 0;
}

div.one-third-last {
	clear: both;
	float: none;
	width: auto;
	padding: 20px 0 0 0;
}

@media screen and (min-width: 1024px) {
	.nlist {
		width: 100%;
		font-size: 100%;
		margin: auto;
	}

	.nItem {
		margin-left: 5%;
		margin-right: 3%;

	}
}



@media screen and (min-width: 768px) {
	.nlist {
		width: 100%;
		font-size: 100%;
		margin: auto;
	}

	.nItem {
		margin-left: 3%;
		margin-right: 3%;
	}
}


@media screen and (min-width: 620px) {
	.nlist {
		width: 90%;
		font-size: 100%;
		margin: auto;
	}

	.nItem {
		margin-left: 3%;
		margin-right: 3%;
	}
}

@media screen and (min-width: 500px) {
	
	.nlist {
		width: 80%;
		font-size: 90%;
		margin: initial;
        text-align: center;
	}

	.nItem {
		margin-left: 5%;
		margin-right: 3%;
        display:inline-block;
	}
    
    
    #Layer_1, #Layer_2, h3 {
    width: 35%;
    margin-left:10%;
	}
    
	
@media screen and (min-width: 320px) {
	
	.nlist {
		width: 100%;
		font-size: 100%;
		margin:initial;
		text-align: center;
	}

	.nItem {
		margin-left: 4%;
		margin-right: 4%;
	}
	
	div.mobile-collapse {
		width: auto;
		margin-right: 0;
	}	
    
}