div.one-third {
	width: 47.5%;
}

div.one-third-second {
	margin: 0;
}

div.one-third-last {
	clear: both;
	float: none;
	width: auto;
	padding: 20px 0 0 0;
}

@media screen and (max-width: 1024px) {
	.nlist {
		width: 90%;
		font-size: 100%;
		margin: auto;
	}

	.nItem {
		margin-left: 3%;
		margin-right: 3%;
	}
}



@media screen and (max-width: 768px) {
	.nlist {
		width: 90%;
		font-size: 100%;
		margin: auto;
	}

	.nItem {
		margin-left: 3%;
		margin-right: 3%;
	}
}


@media screen and (max-width: 620px) {
	.nlist {
		width: 90%;
		font-size: 100%;
		margin: auto;
	}

	.nItem {
		margin-left: 3%;
		margin-right: 3%;
	}
}

@media screen and (max-width: 500px) {
	
	.nlist {
		width: 70%;
		font-size: 100%;
		margin: auto;
	}

	.nItem {
		margin-left: 3%;
		margin-right: 3%;
	}
	
@media screen and (max-width: 320px) {
	
	.nlist {
		width: 80%;
		font-size: 80%;
		margin:initial;
		text-align: center;
	}

	.nItem {
		margin-left: 4%;
		margin-right: 4%;
	}
	
	div.mobile-collapse {
		width: auto;
		float: none;
		margin-right: 0;
	}	
}