body {
  background: #f1f0ec image_url("white-bg.jpg") repeat-y 50% 0;
  color: #555555; }


img.house {
 margin: 10px auto;
 height:20%;
 width:20%;
padding-left: 40%;
}

.links{
    padding: 0px;
    margin:0px;
}