

$text-color:                 #555555;

$unfocused-background-color: #f1f0ec;



body {
  background: $unfocused-background-color image_url("white-bg.jpg") repeat-y 50% 0;
  color: $text-color;
}
